*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
}

#root{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

.suggestion-list {
  padding: 0;
}

.suggestion-li{
  cursor: pointer;
  list-style-type: none;
}

.suggestion-li:hover{
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
}
.suggestion-li:active{
  transform: scale(0.85);
}

.user-search {
  height: max-content;

  padding: 1rem 1.5rem;
  border-radius: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}