.github-form-container{
  width: 75%;
  background-color: rgb(202, 194, 183);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 2rem;
}

.github-search-field{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#github-search-text{
  padding: 10px 10px;
  border-radius: 10px;
  width: 15rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  border: none;
  outline: none;
}

.github-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid black;
  border-radius: 20px;
  width: 80%;
  padding: 2rem;
  margin-bottom: 30px;
}

.github-profile-pic {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgb(89, 54, 4);
}

.github-user-name{
  font-weight: 800;
  font-size: 3rem;

  text-decoration: none;
  color: black;
}

.github-user-name:hover{
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
}

.github-joining-date {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 20px;
}


button.github-btn{
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: rgb(18, 117, 216);
  color: whitesmoke;
}

button.github-btn:hover{
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
}

button.github-btn:active{
  transform: scale(0.85);
  transition: 0.1s ease-in-out;
}